body {
    font-family: "Lato", sans-serif;
}

.static {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.static a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
}

.static a:hover {
    color: #f1f1f1;
}


@media screen and (max-height: 450px) {
    .static {padding-top: 15px;}
    .static a {font-size: 18px;}
}


.map-canvas {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
}

#search{
    color: #f1f1f1;
}





